*.ini
*.xcf
sdcard.zip
sdcard/hacks/busybox/bin/busybox
sdcard/hacks/framegrabber/bin/ipc009/framegrabber
sdcard/hacks/rtsp-server/bin/rtspserver
sdcard/hacks/runit/bin/choose
sdcard/hacks/runit/bin/chpst
sdcard/hacks/runit/bin/load
sdcard/hacks/runit/bin/runit
sdcard/hacks/runit/bin/runit-init
sdcard/hacks/runit/bin/runsv
sdcard/hacks/runit/bin/runsvchdir
sdcard/hacks/runit/bin/runsvdir
sdcard/hacks/runit/bin/sv
sdcard/hacks/runit/bin/svlogd
sdcard/hacks/runit/bin/utmpset
sdcard/hacks/sftp-server/bin/sftp-server
sdcard/hacks/ssh-server/bin/dropbear
sdcard/hacks/web-config/bin/web-config-server
sdcard/hacks/web-config/www/css/*
sdcard/hacks/web-config/www/favicon.ico
sdcard/hacks/web-config/www/index.html
sdcard/hacks/web-config/www/js/*
sdcard/hacks/websocket-stream-server/bin/websocket-stream-server